<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <title>Thornhill.Blog()</title>
</head>
<body>
    <div class="container">
        <div class="welcome-blog">
            <h1 style="margin-right: 4px;">Thornhill.Blog()</h1>
            <h3 class="mb-6 d-inline-block" style="margin-left: 4px; padding-top: 1px;">welcomes you</h3>
        </div>
        
        <% articles.forEach(article => { %>
            <div class="card mt-4">
                <h3 class="card-header"><%= article.title %></h5>
                <div class="card-body">
                    <!-- <h4 class="card-title"><%= article.title %></h4> -->
                    <div class="card-subtitle text-muted mb-2">
                        <%= article.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2"><%= article.description %></div>
                    <a href="articles/<%= article.slug %>" 
                        class="btn btn-primary center">Read More</a>
                </div>
            </div>
        <% }) %>

        <a href="/articles/new" class='btn btn-success new-article'>+</a>
    </div>
</body>
</html>